extend layout

block head
   script.
      window.sets = !{JSON.stringify(sets)};

block content
   h1 Kingdom Creator
   .content
      .sidebar
         .filters
            h1 Sets
            .sets(data-bind="foreach: sets")
               .set
                  label
                     input(type="checkbox", data-bind="checked: active")
                     span(data-bind="text: name")
            h1 Options
            .option
               label
                  input(type="checkbox", data-bind="checked: showSet")
                  span Show Set on Cards
            a.button(id="staticButton", href, data-bind="click: fetchCards") Randomize!
         .meta(data-bind="with: meta")
            h1 Recommendations
            .recommendation
               | Use Colonies/Platinums:
               | <span data-bind="text: useColonies() ? 'Yes' : 'No'"></span>
            .recommendation
               | Use Shelters:
               | <span data-bind="text: useShelters() ? 'Yes' : 'No'"></span>

      .main
         .loading(data-bind="visible: isLoading") Loading...
         .cards(data-bind="foreach: cards, style: { visibility: isLoading() ? 'hidden':'visible' }")
            .card-wrap
               .card(data-bind="click: toggleKeep, css: { 'victory': isVictory, 'action': isAction, treasure: isTreasure, keep: keep() }")
                  img(data-bind="attr:{src:imageUrl}")
                  .set-name-wrap
                     .set-name(data-bind="text: set, visible: $root.showSet, css:setClass")
                  .highlight
         .clear

   .footer
      | Dominion is by Donald X. Vaccarino and published by Rio Grande Games.
      | This site has no affiliation with either party.
      | Card images are provided by <a href="http://www.diehrstraits.com/">Mark Diehr</a>.

   #floatingButtonWrap(data-bind="css: { 'show': showFloatingButton }")
      a.button(href, data-bind="click: fetchCards") Randomize!
