<!doctype html>
<html>

<head>
  <title>Dominion Randomizer</title>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Dominion randomizer for desktop and mobile.">
  <meta name="keywords"
    content="dominion, randomizer, dominion randomizer, dominion deck randomizer, dominion card picker, deck randomizer, kingdom, kingdom creator, kingdom creating">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans:300" rel="stylesheet">
  <%- injectDominioncontent %>
  <script>
    if (window.location.hostname.indexOf("localhost") == -1
      && window.location.protocol.indexOf("https") != 0) {
      window.location.protocol = "https:";
    }

  </script>

    <!-- <script defer="defer" src="rules-b899215f7d175f151cd1.js"></script>
    <link href="rules-8863a842834ecd8560b9.css" rel="stylesheet">-->

  <%- injectEntry %>
</head>

<body>
  <div id="app"></div>
</body>

</html>