@import "variables"

.cards
   font-family: primary-font

.card
   padding: 10px
   border-bottom: 1px solid #ddd
   color: #333

   &.victory .name
      color: victory-color

   .name
      font-size: 28px
      display: inline-block
      padding-right: 8px

   .cost
      font-size: 28px
      padding-right: 8px
      color: treasure-color

