primary-font = 'Alegreya Sans SC', sans-serif;

treasure-color = #fbb829
victory-color = #5aa508
highlight-blue = #02779e

base-set-color = #B8A27D
intrigue-color = #9E9E9E
seaside-color = #84C4E0
alchemy-color = #816399
prosperity-color = #CDE01D
cornucopia-color = #F2A138
hinderlands-color = #8EB365
darkages-color = #804020
guilds-color = #F59DC0
adventures-color = #54C49F
promos-color = #C45454

.csso-complains-with-empty-files
  color: inherit
