.standard-button
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;

.standard-button:hover::before
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

.standard-button:active
  box-shadow: none;
  transform: translate(0, 1px);

.standard-button--is-grey
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #777;

.standard-button--is-primary
  background: rgba(2, 119, 158, 0.75);
  border: 1px solid rgba(2, 119, 158, 1);
  box-shadow: 0 2px 2px rgba(2, 119, 158, 0.4);
  color: #fff;
  
  &:active
    box-shadow: none;

.standard-button--light-border
  border: 1px solid rgba(255, 255, 255, 0.8);

.standard-button--large
  font-size: 20px;

.standard-button--small
  font-size: 14px;
  padding: 4px 8px;
