@require "variables"
@require "main"
@require "sidebar"

.main
  display: flex
  flex-direction: column

.sidebar
  margin-bottom: 10px

.addons-header
.modifiers-header
  margin: 10px 0 0
  font-size: 20px

// Move sidebar to the top
@media (max-width: 750px)
  .content
    .sets
      .set
        width: 50%
        float: left
   
    .meta
      margin-top: 5px
      .sidebar-content-title
        font-size: 26px
