@require "variables"
@require "main"

.content
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0

.rulebooks-container {
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 18px 48px;
}

.rulebook-list {
  padding-left: 12px;
}

.rulebook
  font-size: 20px;
  line-height: 26px;