@require "variables"
@require "main"

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rules-description {
  font-family: 'Alegreya Sans', sans-serif
  font-weight: 300
  margin: 10px 5px 5px 5px
}

header
  margin: 0 auto 0 auto