@require "variables"
@require "main"

.contentRules {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rulebooks {
  width: 80%;
}

.rulebooks-description {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  margin: 10px 5px;
}