@require "variables"
@require "main"
@require "sidebar"

.sets-description {
  font-family: secondary-font;
  font-weight: 300;
  margin: 10px 5px 5px 5px
}

.preset-set_title {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.preset-kingdom_title {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px 0 12px;
}

svg.defs-only {
  display:block; position: absolute; 
  height:0; width:0; margin: 0; padding: 0; 
  border: none; overflow: hidden;
}

.left-top-sign-div {
   margin: unset;
   border-bottom: 0px;
   width:90%;
}

.right-top-sign-div {
  padding-top: 7px;
  text-align: end;
  width: 5%;
}

.preset-kingdom_title_name {
  color: #555;
  font-size: 36px;
  margin: 0 12px 0 0;
}

.preset-kingdom_title_sets {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
}
 
.preset-kingdom_set-name {
  display: block;
  background: rgba(220, 220, 220, 0.7);
  color: #fff;
  margin-right: 4px;
  padding: 6px 8px;
  text-shadow: 1px 1px 4px #fff;
  font-size: 16px;
}

.filter-in {
  cursor: zoom-in;
}

.filter-out {
  cursor: zoom-out;
}

.preset-show-hide_filter {
  background: rgba(220, 220, 220, 0.7);
  cursor: pointer;
}

.preset-kingdom-copy-button {
  margin-top: 2px;
}

.preset-kingdom_metadata {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.preset-kingdom_metadata_use-platinums-and-colonies,
.preset-kingdom_metadata_use-shelters {
  color: #fff;
  font-size: 14px;
  padding: 2px 6px;
  margin-right: 6px;
}
  
.preset-kingdom_metadata_use-platinums-and-colonies {
  background: prosperity-color; /* prosperity-color */
}

.preset-kingdom_metadata_use-shelters {
  background: darkages-color; /* darkages-color */
}

.preset-kingdom__addon-title {
  color: #555;
  font-size: 24px;
  margin: 12px 0 8px 0;
}