/**************************************

**************************************/

/*
 * toggle style from tailwind-ui.css
 */


.SettingTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 8px;
  border-bottom: 1px solid #ccc;
}



/************************************
         Switch item
 ************************************/

.relative-switchcss {
    position: relative;
    display: inline-flex;
    height: 1.5rem;
    min-width: 44px;;
    padding: 0px;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    border-width: 2px;
    border-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(118, 169, 250, .45);
    outline-color:transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}
.relative-switchcss:focus {
    box-shadow: 0 0 0 3px rgba(118, 169, 250, .45);
    outline-color:transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

.SwitchSpan {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  background-color: #fff;
  border-radius: 9999px;
}

.switch-bg-gray-200 {
    background-color: rgb(229, 231, 235);
}

.switch-bg-indigo-600 {
    background-color: rgb(113, 179, 200);
}

.switchGroupcss>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1rem* var(--space-x-reverse));
    margin-left: calc(1rem* calc(1 - var(--space-x-reverse)));
}

.translate-x-5 {
  transform: translateX(1.25rem);
}

.translate-x-0 {
  transform: translateX(0);
}



.switch-groupedline {
  padding: 1rem 1rem 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.switch-labelAndswitch {
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.switch-flex {
  align-items: center;
  display: flex;
}

/************************************
    end of Switch item
 ************************************/

/************************************
      Question Mark item
 ************************************/
.question-mark-tooltip {
  display: inline-flex;
  align-items: center;
  cursor: help;
}

.question-mark-tooltip a {
  color: #666;
  text-decoration: none;
}

.question-mark-tooltip:hover {
  color: #000;
}

.QuestionMark {
  margin-left: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

.custom-settings {
  padding: 0 2% 0 2%;
  margin: 1% 0 6% 0
}

.settingsInput {
  text-align: end;
  border: 2px solid #ccc
}

.kingdomlabel-settings {
  font-size: 16px;
}

.setlabel-settings {
  font-size: 24px;
}

.ownnedset-constraint-container {
  border-bottom: 2px solid #ccc;
  padding-bottom: 2px;
  margin-bottom: 2px;
  display: flex;
  gap: 1rem;
  align-items:flex-end;
}

