.sidebar
  
  .sidebar-content-option
    font-size: 16px
    display : flex

  .sidebar-content
    font-size: 18px
    padding: 10px
    border-radius: 10px
    border: 1px solid #ccc
    margin-top: 10px
    
    &:first-child
      margin-top: 2px

    .sidebar-content-title 
      font-size: 24px
      margin: 8px 0 8px 0
      border-bottom: 1px solid #ccc
      color: #333
    
      &:first-child
        margin-top: 0
  
    .suboption
      margin-left: 20px
      
      select
        margin-top: 2px
        max-width: 215px;

    .checkbox.disable
        color: #bbb


  @media (max-width: 750px)
    .sidebar-content
      .suboption
        margin-left: 30px

    .suboption-set
      margin-left: 20px
