.expand-fade-enter-active
  transition: all .3s ease

.expand-fade-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.expand-fade-enter, .expand-fade-leave-to
  transform: scale(0.9)
  opacity: 0
