primary-font = 'Alegreya Sans SC', sans-serif;
secondary-font = 'Alegreya Sans', sans-serif;

treasure-color = #fbb829
victory-color = #5aa508
curse-color = #b78eca

dark-blue = #02779e
highlight-blue = #02779e

base-set-color = #B8A27D
intrigue-color = #9E9E9E
seaside-color = #84C4E0
alchemy-color = #C086FB
prosperity-color = #C8CE0B
cornucopia-color = #F2A138
hinterlands-color = #8EB365
darkages-color = #b1572a
guilds-color = #F59DC0
adventures-color = #54C49F
promos-color = #C45454
empires-color = #d1b03f
landmark-color = #7db68d 
nocturne-color = #8091e6
renaissance-color = #11ada8
menagerie-color = #b2955b
allies-color = #c51327
plunder-color = #904929
risingsun-color = #ebb410

mouseway-color = #bad4eb 
trait-color = #343979
bane-color = curse-color 
obelisk-color  = landmark-color
ferryman-color = cornucopia-color
riverboat-color = risingsun-color

